*{
    padding: 0px;   
    margin: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    position: relative;
}
.flex{
    display: flex;
}
.flex-s{
    display: flex;
    justify-content: space-between;
}
.flex-se{
    display: flex;
    justify-content: flex-end;
}
.flex-ss{
    display: flex;
    justify-content: flex-start;
}
.flex-x{
    display: flex;
    justify-content: center;
}
.flex-y{
    display: flex;
    align-items: center;
}
.flex-sy{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-xy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.body{
    width: 1000px;
    margin: 0 auto;
}
.headrpic{
    width: 100%;
    height: 100vh;
}
.cblue{
    background-color: #101e37;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;   
}
.tex-c{
    text-align: center;
}


